<div class="menu_bar_horizontal"> 
    <ul class="btn-group_horizontal"> 
        <li> <a href="/register">Register</a> 
        </li> 
        <li> <a href="/login">Login</a> 
        </li> 
        <li> <a href="/protectedroute1">Protected Route 1</a> 
        </li> 
        <li> <a href="/protectedroute2">Projected Route 2</a> 
        </li> 
        <li> <a href="/logout">Logout</a> 
        </li> 
    </ul> 
</div>