<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <div class="grid">
      <div class="banner">
        <h1>Protected Route 1</h1>
      </div>
      <%- include('partials/navbar') %>
      <div class="content_section"></div>
      <div class="footer_section"></div>
    </div>
  </body>
</html>
